* {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 1em;
  }
  body {
    font-size: 10pt;
    position: relative; 
    @import "App.scss";
  
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../assets/minimal.jpg'); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1; 
    }
  }
